<%- include('master',
{
  title: title,
  body:`
  <h1>selamat datang di website Pariwisata Palembang</h1>
  <p>Ini adalah halaman website official Pariwisata Palembang. Anda dapat memesan paket wisata
    pada website ini. Selamat menikmati keindahan wisata Palembang
  </p>
  `
})
%>
